<div class="content_container list row">
    <div class="col-md-6 form-group">
      <h4>All admission forms</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let form of forms; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(form, i)">
          {{ form.patientFname }} {{ form.patientLname }} 
        </li>
      </ul>
      
    </div>
    <div class="col-md-6">
      <app-tutorial-details
        [viewMode]="true"
        [formUi]="currentForm"
      ></app-tutorial-details>
    </div>
  </div>